@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root {
    --primary: #f8f9fa;
    --secondary: #343a40;
    --sidebar-width: 200px;
    --navbar-height: 56px;
    --editor-title-height: 54px;
    --main-padding: 10px;
    --editor-height: calc(100vh - var(--navbar-height) - var(--editor-title-height) - 2 * var(--main-padding))
}

body {
    margin: 0;
    background-color: var(--primary);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Goldman;
}

a:hover {
    outline: none;
}

.main {
    padding: 10px;
    overflow: hidden;
    margin-left: var(--sidebar-width);
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

#sidebar {
    background-color: var(--primary);
    height: calc(100vh - var(--navbar-height));
    padding: 10px 0;
    position: absolute;
    width: var(--sidebar-width);
    font-size: 14px;
    overflow-y: hidden;
    font-family: Goldman;
    border-right: 1px solid var(--secondary);
}

#sidebar.toggled {
    transform: translateX(0);
}

#sidebar-toggler {
    display: none;
}

#sidebar h2 {
    margin-top: 5px;
}


.first-heading__btn {
    float: right;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    font-size: 20px;
    position: relative;
    top: 20px;
    right: 10px;
}

.first-heading__btn:hover {
    color: #000;
}

.first-heading__btn:focus {
    outline: none;
}

.editor {
    overflow: hidden;
}

.editor.raw-hiden #editor__raw {
    display: none;
}

.editor.raw-hiden #editor__preview {
    display: block;
}

#editor__raw--content {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    resize: none;
    border: none;
    background-color: #ffffff;
    overflow-y: scroll;
}

#editor__preview {
    background-color: var(--primary);
    width: 100%;
    overflow-y: scroll;
    padding: 0 1rem;
    display: block;
    height: var(--editor-height);
    flex: 1 1;
}

#editor__raw {
    padding: 0;
    flex: 1 1;
    height: var(--editor-height);
}

.primary {
    background-color: var(--primary);
}

.scrollbar {
    scrollbar-color: #5a565b #cecece;
    scrollbar-width: thin;
}



#overlay {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    background: var(--secondary);
    z-index: 100;
    top: var(--navbar-height);
    left: 0;
    opacity: 0;
    transition: transform 0.4s ease-in, opacity 0.3s ease;
    transform: translateX(-100%);
}

#overlay.toggled {
    opacity: 0.8;
    transform: translateX(0);
}

#detail h1,
#detail h2,
#detail h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#detail>h1:first-of-type {
    line-height: 1.5;
}

.input-group-append[title='Preview'] {
    display: none;
}

#sidebar ul>a::after {
    content: '\1F6C6';
    position: absolute;
    left: 12px;
    opacity: 0;
    color: rgb(145, 11, 11);
    line-height: 2.5;
}

#sidebar ul>a:hover::after {
    opacity: 1;
}

#sidebar>ul:first-of-type {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#sidebar ul>a {
    padding: 5px 0;
    text-indent: 20%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.800);
    margin-bottom: 3px;
    display: block;
}

#sidebar ul>a::first-letter {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: black;
}

.navbar-brand {
    display: block;
    text-align: center;
    font-family: Goldman;
    padding: 0 1rem;
    width: 150px;
    height: var(--navbar-height);
    margin: -1rem;
    font-size: 36px;
    background: -webkit-linear-gradient(120deg, #ff8080 0%, #6284FF 50%, #00ff2f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#editor__edit-panel {
    width: 100%;
    height: 46px;
    background: #007cff45;
    padding: 8px;
    display: flex;
    border: 1px solid black;
}

#editor__edit-panel > button {
    border-right: 1px solid black;
    border-radius: 0;
}

@media (max-width: 992px) {
    #editor__preview {
        display: none;
    }

    .input-group-append[title='Preview'] {
        display: block;
    }
}



@media (max-width: 576px) {
    #sidebar {
        left: calc(var(--sidebar-width) * -1);
        transition: transform 0.3s ease-in;
        z-index: 101;
    }

    #sidebar.toggled {
        transform: translateX(var(--sidebar-width));
    }

    .main {
        margin-left: 0;
    }

    #sidebar-toggler {
        display: block;
    }
}

