{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="container-fluid" id="detail">        
        {% if content %}
            <form action="{% url 'editor' %}" method="GET">
                <button class="first-heading__btn" type="submit" name="title" value="{{title}}"><i class="fas fa-edit"></i></button>
            </form>
            <h1>{{title}}</h1>
            {{content|safe}}
        {% else %}
        <h1>Ooops... Nothing found here!</h1>
        <p>
            Wiki could not find anything related to your search.
        </p>
        <p>
            Would you like to <a href="{% url 'editor' %}?title={{title}}">create new</a> article for <strong>{{title}}</strong>?
        </p>
        {% endif %}
    </div>
{% endblock %}