{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Editor
{% endblock %}

{% block theme %}
    main-color
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form action="{% url 'editor' %}" method="POST">
            {% csrf_token %}
            <div class="editor__header row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Editor</span>
                      </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="Title-name">Title</span>
                    </div>
                    <input type="text" class="form-control" name="title" id="title" 
                    aria-label="Title" aria-describedby="Title-name" value="{{title|safe}}"
                    {% if title %} readonly {% endif %} required
                    />
                    <div class="input-group-append" title="Preview">
                        <button id="preview-toggler" type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></button>
                    </div>
                    <div class="input-group-append" title="Save">
                        <button type="submit" class="btn btn-outline-dark"><i class="fas fa-save"></i></button>
                    </div>
                  </div>
            </div>
            <div id="editor" class="editor row">
                <div id="editor__raw">
                    <div id="editor__edit-panel">
                        <button type="button"><i class="fas fa-heading"></i></button>
                        <button type="button"><i class="fas fa-link"></i></button>
                        <button type="button"><i class="fas fa-code"></i></button>
                        <button type="button"><i class="fas fa-bold"></i></button>
                        <button type="button"><i class="fas fa-list-ul"></i></button>
                    </div>
                    <textarea id="editor__raw--content" name="content" class="scrollbar">{{content}}</textarea>
                </div>  
                <div id="editor__preview" class="scrollbar">
                    <div id="editor__preview--content"></div>
                </div>                    
            </div>
        </form>
    </div>     
    {% load static %}  
    <script src="{% static 'encyclopedia/editor.js' %}" type="module"></script>
{% endblock %}
